[submodule "extlibs/STP"]
	path = extlibs/STP
	url = https://github.com/edoren/STP.git
[submodule "extlibs/SFML"]
	path = extlibs/SFML
	url = https://github.com/LaurentGomila/SFML.git
[submodule "extlibs/jansson"]
	path = extlibs/jansson
	url = https://github.com/akheron/jansson.git
	branch = 2.6
